apscheduler
pytest
pytest-xdist
pytest-html
astor
typeguard
cython>=0.29.21,<1.0.0 # for jsonobject
jsonobject
dacite
asttokens
executing
rich
py4j
future
flatbuffers
python-gitlab
GitPython
Flask
prometheus_client
psutil
thrift
ffmpeg
pynvml
lz4
zstandard
matplotlib
pandas
oss2
diskcache
lru-dict
schedule
uvicorn
pylru
