*.pyc
*.os
*~
build_options.py
\.*
!.clang-format
config.log
*.o
build/
_external/
core.*
\#*\#
!.gitignore
*.so.*
*.so
vgcore.*
core.*
aios/ha3/testdata/runtime_testdata/
aios/ha3/testdata/join_cache_test_data/
aios/ha3/testdata/partitions
aios/ha3/testdata/serviceRoot/test*
aios/ha3/testdata/SearcherBizConfig/2/para/
aios/ha3/tmp/*
aios/ha3/testdata/testadmin/temp/*
aios/ha3/testdata/testadmin/adminconfig/admin_serialize_dir/*
aios/ha3/tools/etc/ha_tools/tools_conf.py
aios/ha3/tools/ha_tools/version.py
aios/ha3/compile_commands.json
aios/ha3/testdata/sql_agg_func/plugins/
aios/ha3/tools/ha_tools/ErrorDefine.py
*.log
aios/ha3/ha3/config.*
aios/build_service/build_service/config.*
aios/build_service/build_service/config.*
aios/indexlib/indexlib/misc/signature.h
zookeeper_log
tools/ha_tools/ErrorDefine.py
partitions
testdata/searcher_test/*
qrs.status
aios/ha3/testdata/zookeeper/conf/zoo_*.cfg
aios/ha3/testdata/zookeeper/var/*
aios/ha3/testdata/local_searcher/*Test/*
aios/ha3/testdata/serviceRoot/*Test/*
TAGS
aios/ha3/cscope.files
aios/ha3/cscope.out
aios/ha3/diamond/
aios/ha3/logs/
aios/ha3/*libha3_summary_eg.so.*
aios/ha3/testdata/ha3_cava.bc
aios/ha3/testdata/cava/java
aios/ha3/testdata/SearcherBizConfig/_func_conf_.json
aios/ha3/testdata/SearcherBizConfig/_sorter_conf_.json
aios/ha3/testdata/share
aios/ha3/testdata/sql_tvf/plugins

aios/indexlib/testdata/*Test/
aios/indexlib/testdata/*TestE/
!libdemo_indexer1.so
!libdemo_indexer2.so
aios/build_service/temp
aios/build_service/testdata/runtime_testdata/
aios/build_service/tools/bs_tools/test/tools_conf.py
aios/build_service/tools/bs_tools/version.py
aios/build_service/*.log
aios/build_service/config.*
aios/build_service/apsara_base.LOG*
aios/build_service/zookeeper_log
aios/build_service/build_service/check_header.cpp
aios/plugin_platform/indexer_plugins/aitheta_indexer/aitheta_indexer/__signature.h
ha3_install
example/scripts/workdir/
!.gitkeep
