{
"amonitor_port":
  10086,
"counter_config":
  {
  "parameters":
    {
    },
  "position":
    "zookeeper"
  },
"full_builder_tmp_root":
  "",
"heartbeat_type":
  "",
"hippo_root":
  "path\/to\/hippo\/leader\/elector\/root",
"index_root":
  "",
"service_name":
  "service_name",
"swift_root":
  "zfs:\/\/root\/",
"user_name":
  "user_name",
"zookeeper_root":
  "path\/to\/zk\/root"
}
