*.pyc
*.os
*~
build_options.py
\.*
config.log
*.o
build/
_external/
core.*
\#*\#
!.gitignore
!.clang-format
*.so
vgcore.*
indexlib/config.h
indexlib/config.cpp
data
testdata/*Test/
testdata/*TestE/
ssh_op.sh
example
./indexlib_plugin/plugins/aitheta/perf/*
/indexlib_plugin/__signature.h
